/* ---- */

:root {
  --primary-color: black;
  --bg-color: #fff;
  --font-color: rgba(0, 0, 0, 0.6);
  --border-color:  rgba(0, 0, 0, 0.14);
  --fill: rgba(0, 0, 0, 0.6);
  --grey-bar:  #ccc;
  --grey: rgba(0,0,0,.6);
}

[data-theme="dark"] {
  --primary-color: white;
  --bg-color: #222;
  --font-color: white; 
  --fill: white;
  --nav-bar: #fff;
  --grey: rgba(255,255,255,.7);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

/* HEADER */

.header {
  height: 64px;
}

.header-bar {
  font-size: 22px;
  color: var(--font-color);
  border-color: var(--border-color);
  fill: var(--fill);
  font-weight: 500;
  padding: 20px;
  margin-left: 2%;
  margin-right: 2%;
}

.fonts-t {
  font-weight: normal;
}

.links {
  font-size: 14px;
  text-transform: uppercase;
  text-align: right;
  float: right;
  font-weight: 500;
  cursor: pointer;
}

span {
  margin-right: 30px;
}

#current{
  color: #ff5252;
}

#last {
  margin-right: 0;
}

hr {
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--grey-bar);
  padding: 0;
}

/* NAVBAR */

 .nav-bar{
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: var(--grey-bar);
  width: 90%;
  border-radius: 48px;
  margin-top: 2%;
  margin: 2% auto;
  padding-top: 12px;
  padding-bottom: 12px;
}


form {
  display:inline;

}

.vertical-line{
  border-left: 1px solid var(--grey-bar);
  top: 90px;
  bottom: 0px;
  left: 50%;
  display: inline;
}

#search-g {
  margin-left: 2%;
  background: var(--bg-color);
  color: var(--grey);
}

input[type='search'] {
  -webkit-appearance: none;
  font-size: 15px !important;
  margin-left: 10px !important;
  padding: 0px 100px 0px 0px;
  border: none;
  background: var(--bg-color);
  color: var(--primary-color);
}

input[type='text'] {
  font-size: 15px;
  margin-left: 2%;
  padding: 0px 100px 0px 0px;
  border: none;
  background: var(--bg-color);
  color: var(--primary-color);
}

.select{      
  border: 0;
  padding-left: 12px;
  background: none;
  -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: 15px; 
  color: var(--primary-color);
}

.color-mode {
  cursor: pointer;
  border: none;
  margin-left: 2%;
  background: var(--bg-color);
 }

#light-mode {
  color: var(--primary-color);
  background: var(--bg-color)
}

#dark-mode {
  margin-left: 5px;
}

.grid-change {
  cursor: pointer;
  border: none;
  margin-left: 2%;
  background: var(--bg-color);
  color: var(--primary-color);
}

.list-change {
  cursor: pointer;
  border: none;
  margin-left: 2%;
  background: var(--bg-color);
  color: var(--primary-color);
}
.reload-button {
  cursor: pointer;
  border: none;
  margin-left: 2%;
  background: var(--bg-color);
  color: var(--grey);
}

/* MAIN SECTION - font cards*/

.grid {  
  display: grid;  
  grid-template-columns: repeat(4, auto);  
  grid-template-rows: repeat(2, auto);  
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  -webkit-column-gap: 40px; 
  -moz-column-gap: 40px; 
  column-gap: 40px;
  margin: auto;
  width: 88%;
  padding: 10px;
}

.list {
  display: grid;
  grid-column: 1;
  column-gap: 40px;
  margin: auto;
  width: 88%;
  padding: 10px;
  
}

.font-line {
  width: 95%;
  margin-bottom: 10px;
  border-top: 1px solid;
  padding: auto;
}

.font {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.author {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--grey);
  margin-top: 2%
}

.text-i{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: auto;
  overflow-wrap: break-word;
}

#text2 {
  font-family: 'Gayathri', sans-serif;
}

#text3 {
  font-family: 'Chilanka', cursive;

}

#text4 {
  font-family: 'Open Sans', sans-serif;

}

#text5{
  font-family: 'Lato', sans-serif;
}

#text6{
  font-family: 'Manjari', sans-serif;
}

#text7{
  font-family: 'Montserrat', sans-serif;
}

#text8{
  font-family: 'Roboto Condensed', sans-serif;
}


.fa-plus-circle{
  color: #ff5252;
  cursor: pointer;
  float: right;
  margin-right: 20px;
}

ul#fonts li {
  display:inline;
}

/* ARROW SCROLL-UP BUTTON */

#arrow-button {
  border: none; 
  outline: none; 
  cursor: pointer; 
  font-size: 20px; 
  display: none; 
  position: fixed; 
  bottom: 70px; 
  right: 15px; 
  z-index: 99; 
  background: var(--bg-color);
  color: var(--primary-color);
}

#arrow-button:hover {
  color: #ff5252; 
}

/* FOOTER */

h5 {
  font-weight: normal;
  color: var(--grey);
  text-align: center;
  padding: 20px;
  margin: 20px;
  height: auto;
}

a, a:visited {
  text-decoration: none;
  color: var(--grey);
}


/* MEDIA */

@media (max-width: 1000px) {
  .to-grid,
  .select,
  .fa-circle,
  .to-list {
    display: none;
  }
}

@media (max-width: 800px) {
  .vertical-line,
  #text-input {
    display: none;
  }
}

@media (max-width: 415px) {
  .vertical-line,
  .reload-button,
  #search-g,
  #text-input {
    display: none;
  }
  
}